<!DOCTYPE HTML5>
<html lang="ko">
<%- include('../include/include.ejs',{title:"관리자페이지"}) %>
<link rel="stylesheet" href="/static/css/admin/user.css">
<body>
    <%- include('../include/header.ejs') %>
    <div id="member-content" >
        <h2>회원 관리 페이지</h2>
        <div class="search-bar">
            <select name="category" id="category">
                <option value="u_id">아이디</option>
                <option value="name">이름</option>
                <!-- 다른 카테고리도 필요에 따라 추가하세요 -->
            </select>
            <input type="text" name="search" id="search" placeholder="검색어를 입력하세요" onkeypress="key_press(event,'<%=permission%>')">
            <button onclick="search('<%=permission%>')">검색</button>
        </div>
        <div class="pagination">
            <% if(permission){ %>
                <% for (i=1; i <=totalPages; i++) { %>
                    <a href="/admin/user?page=<%= i %>&category=<%= category %>&search=<%= search%>">
                        <%= i %>
                    </a>
                <% } %>
                <% }else{ %>
                    <% for (i=1; i <=totalPages; i++) { %>
                        <a href="/admin/user?page=<%= i %>&category=<%=category %>&&search=<%= search%>&permission=null">
                            <%= i %>
                        </a>
                    <% } %>
                <% } %>
            
        </div>
        
        <% if(permission===true){%>
            <button class="permissionBtn" onclick="gi(this.value)" value="permission"><a href="/admin/user?permission=null">권한대기 유저</a></button>
            <button class="permissionBtn active"><a href="/admin/user">회원전체 조회</a></button>
            <% }else if(permission ===false){ %>
                <button class="permissionBtn active" onclick="gi(this.value)" value="permission"><a href="/admin/user?permission=null">권한대기 유저</a></button>
                <button class="permissionBtn"><a href="/admin/user">회원전체 조회</a></button>
            <% } %>

        <table id="member-table" class="reserve_list">
            <thead>

                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>이메일</th>
                    <th>가입일</th>
                    <th>수정일</th>
                    <th>권한</th>
                    <th>클래스</th>
                    <th>휴대폰 번호</th>
                </tr>
            </thead>
            <tbody>
                <% userList.forEach(user => { %>
                    <tr  onclick="openModal('<%= user.u_id %>','<%= user.name %>','<%= user.cs_id %>','<%= user.permission %>')">
                        <td><%= user.u_id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.nk_name %></td>
                        <td><%= user.email %></td><!--데이타를 substring(0,조건)+ (데이터.length >조건 ? 값1:값2)-->
                        <td><%= user.createdAt.toLocaleString('ko-KR', { year: '2-digit', month: '2-digit', day: '2-digit', hour: '2-digit'}) %></td>
                        <td><%= user.updatedAt.toLocaleString('ko-KR', { year: '2-digit', month: '2-digit', day: '2-digit', hour: '2-digit'}) %></td>
                        <% if(user.permission === null) {%>
                            <td><strong style="color: #e74c3c;">권한없음</strong></td>
                            <% }else{ %>
                                <td><%= user.permission %></td>
                            <% } %>
                        <td><%= user.cs_id %></td>
                        <td><%= user.phone %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% if(userList.length === 0) { %>
            <div class="noData"><h1>😫자료가 없습니다.</h1></div>
            <% }%>  

        
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <table id="member-table" class="member_table">
                <tr >
                    <th>아이디</th>
                    <th>이름</th>
                    <th>클레스</th>
                    <th>권한</th>
                </tr>
            </table>
            <div class="deleteBtn">
                <div style="font-size: 12px;font-weight: bold;">*수료생,관리자로 부여시 클레스는 자동 10지정</div>
                <button class="permissionBtn"><a onclick="pwReset()">pw초기화</a></button>
                <button class="user_deleteBtn" onclick="permission_delete()">삭제</button>
            </div>
        </div>
    </div>
    <script>
     
        (()=> {
        let totalPages = '<%= page %>'-1 // totalPages 값은 서버에서 렌더링할 때 클라이언트로 전달되어야 합니다.
        let paginationDiv = document.querySelector('.pagination');
        let btns = document.querySelectorAll('.pagination a');

        for (let i = 0; i < btns.length; i++) {
        if (i === totalPages) {
            btns[i].classList.add('active');
        } else {
            btns[i].classList.remove('active');
        }
        }
        })();
      
    </script>
    <script src="/static/js/admin/user.js"></script>
    
</body>
</html>