<!DOCTYPE html>
<html lang="en">
    <%- include("../include/include", {title: "로그인 및 회원가입"})%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/profile/profile.css">
<body>
    <%-include("../include/header")%>
        <div class="bodyContainer">
            <%-include("../include/sideBar")%>
            <div class="section2Container">
                <div class="title">내 정보 확인/수정</div>
                <form name="profile_form">               
                    <div class="usermyPageWrapper">
                        <div class="wrapper imageWrapper">
                            <div class="subTitle imageTitle">프로필 이미지</div>
                                <div class="image_container">
                                        <img src="/<%= userInfo.profile_img%>" alt="Profile Image" class="image profile_image"/>
                                        <input type="file" name="profile_img" class="image image_input">
                                        <button type="button" onclick="updateProfileImg()" >프로필 변경</button>
                                        <button type="button" onclick="deleteProfileImg()" >기본 프로필</button>
                                </div>
                        </div>
                        <div class="wrapper nameWrapper">
                            <div class="subTitle nameTitle">이름</div>
                            <div class="inputContainer">
                                <input type="text" name="name" class="name" placeholder="이름" value="<%=userInfo.name%>" disabled/>
                            </div>
                        </div>

                        <div class="wrapper idWrapper">
                            <div class="subTitle idTitle">아이디</div>
                            <div class="inputContainer">
                                <input type="text" name="u_id" placeholder="아이디" value="<%=userInfo.u_id%>" disabled/>
                            </div> 
                        </div>

                        <div class="wrapper idWrapper">
                            <div class="subTitle idTitle">비밀번호</div>
                            <div class="inputContainer">
                                <input type="password" name="pw" autocomplete="off" placeholder="프로필 수정 시 비밀번호를 입력해주세요." value=""/>
                            </div>
                        </div>
                        <div class="wrapper nickNameWrapper">
                            <div class="subTitle nickNameTitle">닉네임</div>
                            <div class="inputContainer">
                                <input type="text" name="nk_name" placeholder="한글, 영어 대소문자, 숫자 (2 ~ 16자)" value="<%=userInfo.nk_name%>"/>
                                <button type="button" id="nk_name_check_btn" onclick="duplicateCheck()">중복 확인</button>
                            </div>
                        </div>

                        <div class="wrapper contactWrapper">
                            <div class="subTitle contactTitle">연락처</div>
                            <div class="inputContainer">
                                <input type="text" name="phone" placeholder="공백이나 '-' 없이 숫자만, ex) 01012341234 또는 021231234" value="<%=userInfo.phone%>" />
                            </div>
                        </div>
                        
                        <div class="wrapper emailWrapper">
                            <div class="subTitle emailTitle">이메일</div>
                            <div class="inputContainer">
                                <input type="text" name="email" placeholder="example@example.com" value="<%=userInfo.email%>"/>
                            </div>
                        </div>
                        
                        <div class="wrapper courseWrapper">
                            <div class="subTitle courseTitle">수강중인과정</div>
                            <div class="inputContainer">
                                <% if (courseInfo.course_name.length > 30) { %>
                                    <input type="text" name="course" placeholder="수강중인과정" value="<%= courseInfo.course_name.slice(0, 30) + '...' %>" disabled/>
                                <% } else { %>
                                    <input type="text" name="course" placeholder="수강중인과정" value="<%= courseInfo.course_name %>" disabled/>
                                <% } %>
                            </div>
                        </div>

                        <div class="wrapper nameWrapper">
                            <div class="subTitle courseTitle">권한</div>
                            <div class="inputContainer">
                                <% if(userInfo.permission === "student") { %>
                                    <input type="text" name="permission" placeholder="권한" value="수강생" disabled/>
                                <% } else if(userInfo.permission === "admin") { %>
                                    <input type="text" name="permission" placeholder="권한" value="관리자" disabled/>
                                <% } else if(userInfo.permission === "user") { %>
                                    <input type="text" name="permission" placeholder="권한" value="관계자" disabled/>
                                <% } else if(userInfo.permission === "graduate_student") { %>
                                    <input type="text" name="permission" placeholder="권한" value="수료생 ('예약하기' 사용 불가)" disabled/>
                                <% } else {%>                                
                                    <input type="text" name="permission" placeholder="권한" value="관리자에게 권한 신청을 해주세요. ('예약하기' 사용 불가)" disabled/>
                                <%}%>    
                            </div>
                        </div>
                    </div>
               </form>
               <div>
                   <button class="show_modal"> 비밀번호 수정</button>
                   <button onclick="updateProfile()">프로필 수정</button>
                </div>
            </div>
        </div>
        <!--Modal-->
        <div class="modal_container">
            <div class="modal_box">
              <h1>비밀번호 수정</h1>
              <div class="form_container">
                <form name="modal_form">
                  <div class="modal_input_container">
                    <div class="modal current_pw">
                      <div class="title currentPW">현재 비밀번호</div>
                      <input type="password" name="pw" autocomplete="off" placeholder="현재 비밀번호" />
                    </div>
                    <div class="modal new_pw">
                      <div class="title newPW">새로운 비밀번호</div>
                      <input type="password" name="newPw" autocomplete="off" placeholder="새로운 비밀번호" />
                    </div>
                    <div class="modal confirm_new_pw">
                      <div class="title newPWConfirmation">새로운 비밀번호 확인</div>
                      <input type="password" name="newPwCheck" autocomplete="off" placeholder="새로운 비밀번호 확인" />
                    </div>
                  </div>
                  <div class="modal_buttons">
                    <button class="close_btn" >비밀번호 수정</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <script src="/static/js/profile/profile.js"></script>
    </body>
</html>
