<!DOCTYPE html>
<html lang="en">
    <%- include("../include/include", {title: "로그인 및 회원가입"})%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/posting.css">
<body>
    <%-include("../include/header")%>
        <div class="body_container">
            <%-include("../include/sideBar")%>
            <div class="section2_container">
                <!--내가 쓴 글 목록-->
                <div class="free_board posting_container">
                    <div class="title">내가 쓴 글 목록</div>
                    <div class="reservation_container">
                        <div class="reservation_header">
                            <div class="check_all">
                                <input type="checkbox" name="checkbox" id="posting_checkAll"/>
                                <label for="posting_checkAll"> 전체 선택 </label>
                              </div>
                            <div>No.</div>
                            <div>글제목</div>
                            <div>작성일시</div>
                        </div>
                        <div class="reservation_body">
                            <% postings.forEach(post => { %>
                                <div class="posting_list_container">
                                  <div class="check_all">
                                    <input type="checkbox" name="checkbox" class="posting_check-option"  />
                                  </div>
                                  <div><%= post.b_id %></div>
                                  <div><a href="/board/board?b_id=<%= post.b_id %>"><%= post.title %></a></div>
                                  <div><%= post.post_time %></div>
                                   <button class="deleteButton" onclick="deleteButton(this, '<%= post.b_id%>', '<%= post.u_id%>')">삭제</button>
                                  </div>
                                  <% }); %>
                                </div>
                        </div>
                        <div class="reservation_pagination">< 1,2,3,4,5 ></div>
                    </div>
                         <!--복마크 목록-->
                <div class="free_board book_mark_container">
                    <div class="title">복마크 목록</div>
                    <div class="reservation_container">
                        <div class="reservation_header">
                            <div class="check_all">
                                <input type="checkbox" name="checkbox" id="bookMark_checkAll"/>
                                <label for="bookMark_checkAll"> 전체 선택 </label>
                              </div>
                            <div>No.</div>
                            <div>글제목</div>
                            <div>작성일시</div>
                        </div>
                        <div class="reservation_body">
                            <% bookmarkPostings.forEach(bookmarkPost => { %>
                                <div class="bookmarkPost_list_container">
                                  <div class="check_all">
                                    <input type="checkbox" name="checkbox" class="bookMark_check-option"  />
                                  </div>
                                  <div><%= bookmarkPost.b_id %></div>
                                  <div><a href="/board/board?b_id=<%= bookmarkPost.b_id %>"><%= bookmarkPost.title %></a></div>
                                  <div><%= bookmarkPost.post_time %></div>
                                   <button class="deleteButton" onclick="unmark_bookmark(this,'<%= bookmarkPost.b_id%>', '<%= bookmarkPost.u_id%>')">삭제</button>
                                  </div>
                                  <% }); %>
                                </div>
                        </div>
                        </div>
                        <div class="reservation_pagination">< 1,2,3,4,5 ></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <script defer src="/static/js/posting.js"></script>
        <script defer src="/static/js/board/board.js"></script>
    </body>
</html>
