<!DOCTYPE html>
<html lang="en">
    <%- include("../include/include", {title: "로그인 및 회원가입"})%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/siginUp.css">
<body>
    <%-include("../include/header")%>
    <div class="login_inner_wrapper tab_container">
        <div class="log_re_btn_container">
          <button class="log_re_button button_log" onclick="showPanel(0, 'white')">
            로그인
          </button>
          <button class="log_re_button buttong_reg" onclick="showPanel(1, 'white')">
            회원가입
          </button>
        </div>

        <!-- login -->
        <div class="login_container tab_panel">
          <div class="title">
            <img
              src="/static/images/logo&title.png"
              style="width: 160px; height: 160px"
            />
          </div>

          <div class="input_button">
            <form name="sign_in_form">
              <div class="input_wrapper">
                <div class="input_container id_input">
                  <!-- user icon -->
                  <div class="circleContainer">
                    <div class="circle"></div>
                    <div class="halfCircle"></div>
                  </div>
                  <input type="text" class="input" name="u_id" placeholder="아이디를 입력해주세요." required />
                </div>

                <div class="input_container pw_input">
                  <!-- password icon -->
                  <div class="circleContainer">
                    <div class="halfUCircle"></div>
                    <div class="lockCircle"></div>
                    <div class="dot"></div>
                    <div class="verticalLine"></div>
                  </div>
                  <input type="password" class="input" name="pw" placeholder="비밀번호를 입력해주세요." autocomplete="off" required />
                </div>
              </div>

              <div class="login_re_buttons">
                <button type="button" id="loginBtn" class="login_re_button">로그인</button>
              </div>
            </form>
          </div>

          <div class="options">
           <p>아이디와 비밀번호 분실 시 관리자에게 문의해주세요.</p>
          </div>  
        </div>

        <!-- register -->
        <div class="register_container tab_panel">
          <!-- <div class="title">
            <img
              src="/static/images/logo&title.png"
              style="width: 50px; height: 50px"
            />
          </div> -->
          <div class="container">
            <form name="sign_up_form">
              <div class="wrapper">
                <div class="register_input dup_area">
                  <div class="dup_area_input" >
                    <label for="u_id">아이디</label>
                    <input type="text" class="register_id" name="u_id" id="u_id" style="width: 320px;" placeholder="영어 소문자, 숫자 각 1글자 이상 ( _ 가능, 6 ~ 16자)" minlength="6" maxlength="16" autocomplete="off" required  />
                    <small >영어 소문자, 숫자 각 1글자 이상 ( _ 가능, 6 ~ 16자)</small>
                  </div>
                  <div class="duplicate_check" >
                    <button type="button" class="pre_check" id="id_check_btn">중복 확인</button>
                  </div>
                </div>

                <div class="register_input">
                  <label for="pw">비밀번호</label>
                  <input type="password" class="register_pw" name="pw" id="pw" placeholder="영어, 숫자, 특수문자 각 1글자 이상 (8자 이상)" minlength="8" autocomplete="off" required  />
                  <small>영어, 숫자, 특수문자 각 1글자 이상 (8자 이상)</small>
                </div>

                <div class="register_input">
                  <label for="pw_check">비밀번호 확인</label>
                  <input type="password" class="register_pw_check" name="pw_check" id="pw_check" placeholder="비밀번호를 한 번 더 입력해주세요." minlength="8" autocomplete="off" required  />
                  <small>비밀번호가 일치하지 않습니다.</small>
                </div>

                <div class="register_input">
                  <label for="name">이름</label>
                  <input type="text" class="register_name" name="name" id="name" placeholder="한글 2 ~ 5자" minlength="2" maxlength="5" autocomplete="off" required  />
                  <small>한글 2 ~ 5자</small>
                </div>

                <div class="register_input dup_area">
                  <div class="dup_area_input" >
                  <label for="nk_name">닉네임</label>
                  <input type="text" class="register_nk_name" name="nk_name" id="nk_name" style="width: 320px;" placeholder="한글, 영어 대소문자, 숫자 (2 ~ 15자)" minlength="2" maxlength="16" autocomplete="off"  required  />
                  <small >한글, 영어 대소문자, 숫자 (2 ~ 16자)</small>
                  </div>
                  <div class="duplicate_check" >
                    <button type="button" class="pre_check" id="nk_name_check_btn">중복 확인</button>
                  </div>
                </div>

                <div class="register_input">
                  <label for="phone">연락처</label>
                  <input type="text" class="register_id" name="phone" id="phone" placeholder="공백이나 '-' 없이 숫자로만 작성해주세요" minlength="9" maxlength="11" required  />
                  <small>ex) 01012341234 또는 021231234</small>
                </div>

                <div class="register_input">
                  <label for="email">이메일</label>
                  <input type="text" class="register_email" name="email" id="email" placeholder="example@example.com" required  />
                  <small>이메일 양식에 맞게 작성해주세요.</small>
                </div>
                
                <div class="register_input">
                  <label for="course">수강중인 강의</label>
                  <select name="cs_id" id="cs_id" required>
                    <option class="hidden_option" value="" selected disabled hidden>[필수] 수강중인 과정을 선택해주세요.</option>
                      <% courseList.forEach(course => { %>
                        <%= (course.course_name.length > 37) ? course.course_name=course.course_name.slice(0, 37) + '...' : course.course_name %>
                      <option value="<%=course.cs_id  %>"><%=course.course_name%></option>
                      
                      <%})%>
                  </select>
                 </div>
              </div>
              <div class="login_re_buttons">
                <button type="button" class="login_re_button" onclick="signup()">가입하기</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script src="/static/js/signinUp.js"></script>
</body>
</html>