<!DOCTYPE html>
<html lang="ko">
<%- include('../include/include.ejs', {title:"커뮤니티"}); %>
    <link rel="stylesheet" href="/static/css/board.css">

    <body>
        <%- include('../include/header.ejs'); %>
            <% let isBookmarked=Object.keys(board.bookmarks).some(bookmarks=> bookmarks.u_id === session.u_id); %>
                <div class="container">
                    <div class="center">
                        <main role="main">
                            <div class="content board">
                                <!-- 본문 시작 -->
                                <div id="board">
                                    <div class="table_box no_border">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:120px;">
                                                <col>
                                                <col style="width:120px;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">제목</th>
                                                    <td colspan="3">
                                                        <h2>
                                                            <%=board.title%>
                                                        </h2>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">작성자</th>
                                                    <td rowspan="1">
                                                        <%=board.u_id%>
                                                    </td>
                                                    <th scope="row">작성일</th>
                                                    <td rowspan="1">
                                                        <%=board.createdAt.toLocaleString('ko-KR', { year: 'numeric' ,
                                                            month: '2-digit' , day: '2-digit' , hourCycle:'h24',
                                                            hour:'2-digit',minute:'2-digit',second:'2-digit' })%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">내용</th>
                                                    <td colspan="3" class="board_content">
                                                        <%=board.content%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="bottom_area">
                                        <div class="icon_box">
                                            <div class="like_box">
                                                <button type="button" class="btn_like"
                                                    onclick="like('<%=board.b_id%>','<%=session.u_id%>')"></button>
                                                <span id="like_count">
                                                    <%= board.dataValues.like_count%>
                                                </span>
                                            </div>
                                            <div class="bookmark_box" class="btn_bookmark" id="check_bookmark">
                                                <!-- <span>북마크</span> -->
                                                <% if (isBookmarked) {%>
                                                    <a href="javascript:bookmark('<%=board.b_id%>','<%=session.u_id%>')"
                                                        id="bookmark">&#9733;</a>
                                                    <%} else {%>
                                                        <a href="javascript:bookmark('<%=board.b_id%>','<%=session.u_id%>')"
                                                            class="btn_bookmark" id="bookmark">&#9734;</a>
                                                        <%}%>
                                            </div>
                                        </div>
                                        <div class="btn_wrap">
                                            <a href="javascript:page_update('<%=board.b_id%>');"
                                                class="btn basic">수정</a>
                                            <a href="javascript:delete_board('<%=board.b_id%>');"
                                                class="btn delete">삭제</a>
                                            <a href="/board" class="btn basic">목록으로</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 본문 끝 -->
                                <!-- 댓글 시작 -->
                                <div class="comment_box">
                                    <!-- 댓글폼 호출 -->
                                    <form name="comment" class="cmt_form">
                                        <input type="hidden" name="b_id" value="<%=board.b_id%>" />
                                        <input type="hidden" name="u_id" value="<%=session.u_id%>" />
                                        <input type="hidden" name="nk_name" value="<%=session.nk_name%>" />
                                        <select name="status">
                                            <option value="public">공개</option>
                                            <option value="private">비공개</option>
                                        </select>
                                        <textarea name="comment_content" rows="3" placeholder="댓글을 입력하세요"></textarea>
                                        <input type="button" class="btn" onclick="comment_insert()" value="댓글 작성">
                                    </form>
                                    <!-- 댓글 목록 -->
                                    <ul class="cmt_list">
                                        <!-- 원 댓글 시작 -->
                                        <% for(comment of board.comments) {%>
                                            <li id="cmt<%=comment.c_id%>_wrap">
                                                <div class="cmt_top">
                                                    <div class="cmt_nm">
                                                        <span>
                                                            <%=comment.nk_name%>
                                                        </span>
                                                    </div>
                                                    <div class="cmt_time">
                                                        <span><%=comment.createdAt.toLocaleString("ko-KR")%></span>
                                                    </div>
                                                    <select id="cmt<%=comment.c_id%>_status" style="display: none">
                                                        <option value="public">공개</option>
                                                        <option value="private">비공개</option>
                                                    </select>
                                                </div>
                                                <div id="cmt<%=comment.c_id%>_content" class="cmt_content">
                                                    <%=comment.content%>
                                                </div>
                                                <div class="cmt_bottom">
                                                    <% if (session.u_id===comment.u_id) {%>
                                                        <input type="button" id="cmt_update_btn<%=comment.c_id%>"
                                                            onclick="change_comment('<%=comment.c_id%>')"
                                                            value="댓글 수정" />
                                                        <input type="button" id="cmt_delete_btn<%=comment.c_id%>"
                                                            onclick="comment_delete('<%=comment.c_id%>')"
                                                            value="댓글 삭제" />
                                                        <%}%>
                                                            <input type="button" class="btn"
                                                                id="reply_btn<%=comment.c_id%>"
                                                                onclick="call_reply_form('<%=comment.c_id%>')"
                                                                value="답글 쓰기" />
                                                </div>
                                                <!-- 원 댓글 끝 -->
                                                <!-- 답글 시작 -->
                                                <div class="cmt_reply">
                                                    <!-- 답글 폼 호출 -->
                                                    <form name="reply_form<%=comment.c_id%>" style="display: none">
                                                        <input type="hidden" name="b_id" value="<%=board.b_id%>" />
                                                        <input type="hidden" name="u_id" value="<%=session.u_id%>" />
                                                        <input type="hidden" name="parent_id"
                                                            value="<%=comment.c_id%>" />
                                                        <input type="hidden" name="nk_name"
                                                            value="<%=session.nk_name%>" />
                                                        <select name="status">
                                                            <option value="public">공개</option>
                                                            <option value="private">비공개</option>
                                                        </select>
                                                        <textarea name="reply_content" rows="3" placeholder="댓글을 입력하세요"
                                                            required></textarea>
                                                        <input type="button" id="reply_insert_btn" class="btn"
                                                            onclick="reply_insert('<%=comment.c_id%>')" value="답글 작성" />
                                                    </form>
                                                    <!-- 답글 목록 -->
                                                    <ul>
                                                        <% if (comment.replies.length> 0) {%>
                                                            <% for (reply of comment.replies) {%>
                                                                <li>
                                                                    <div class="reply_top">
                                                                        <input type="hidden"
                                                                            value="<%=reply.parent_id%>">
                                                                        <span>
                                                                            <%=reply.nk_name %>
                                                                        </span>
                                                                        <span><%=reply.createdAt.toLocaleString("ko-KR")%></span>
                                                                        <select id="cmt<%=reply.c_id%>_status"
                                                                            style="display:none">
                                                                            <option value="public">공개</option>
                                                                            <option value="private">비공개</option>
                                                                        </select>
                                                                    </div>
                                                                    <div id="cmt<%=reply.c_id%>_wrap">
                                                                        <span id="cmt<%=reply.c_id%>_content">
                                                                            <%=reply.content%>
                                                                        </span>
                                                                    </div>
                                                                    <div class="reply_btm">
                                                                        <% if (session.u_id===reply.u_id) {%>
                                                                            <input type="button"
                                                                                id="cmt_update_btn<%=reply.c_id%>"
                                                                                onclick="change_comment('<%=reply.c_id%>')"
                                                                                value="댓글 수정" />
                                                                            <input type="button"
                                                                                id="cmt_delete_btn<%=reply.c_id%>"
                                                                                onclick="comment_delete('<%=reply.c_id%>')"
                                                                                value="댓글 삭제" />
                                                                            <%}%>
                                                                    </div>
                                                                </li>
                                                                <%}%>
                                                                    <%}%>
                                                    </ul>
                                                </div>
                                                <!-- 답글 끝 -->
                                            </li>
                                            <%}%>
                                    </ul>
                                </div>
                                <!-- 댓글 끝 -->
                            </div>
                        </main>
                    </div>
                </div>
                <script src="/static/js/board/board.js"></script>
    </body>

</html>