<!DOCTYPE html>
<html lang="ko">
<%- include('../include/include.ejs', {title:"커뮤니티"}); %>
    <link rel="stylesheet" href="/static/css/board.css">

    <body>
        <%- include('../include/header.ejs'); %>
            <% let isBookmarked=Object.keys(board.bookmarks).some(bookmarks=> bookmarks.u_id === session.u_id); %>
                <div class="container">
                    <div class="center">
                        <main role="main">
                            <div class="content board">
                                <!-- 본문 시작 -->
                                <div id="board">
                                    <div class="table_box no_border">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:120px;">
                                                <col>
                                                <col style="width:120px;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">제목</th>
                                                    <td colspan="3">
                                                        <h2>
                                                            <%=board.title%>
                                                        </h2>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">작성자</th>
                                                    <td rowspan="1">
                                                        <% if(board.user.profile_img){ %>
                                                            <img class="profile_img" src="/static/images/profile/'<%= board.user.profile_img  %>'" alt="프로필">
                                                            <% }else{ %>
                                                                <img class="profile_img" src="/static/images/logo.png"
                                                                    alt="프로필">
                                                                <% } %>
                                                                    <%=board.user.nk_name%>
                                                    </td>
                                                    <th scope="row">작성일</th>
                                                    <td rowspan="1">
                                                        <%=board.updatedAt.toLocaleString('ko-KR', { year: 'numeric' ,
                                                            month: '2-digit' , day: '2-digit' , hourCycle:'h24',
                                                            hour:'2-digit' })%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <%-board.content%>
                                        </div>
                                    </div>
                                    <div class="bottom_area">
                                        <div class="icon_box">
                                            <div class="like_box">
                                                <% let liked = false; %>
                                                <% board.board_likes.forEach(like => { %>
                                                    <% if (like.u_id === session.u_id) { %>
                                                        <% liked = true; %>
                                                    <% } %>
                                                <% }); %>
                                                
                                                <button type="button" onclick="like('<%= board.b_id %>','<%= session.u_id %>')">
                                                    <%= liked ? '❤️' : '🤍' %>
                                                </button>
                                                <span id="like_count">
                                                    <!-- 좋아요 수 출력 코드 -->
                                                    <%= board.dataValues.like_count%>
                                                </span>
                                            </div>
                                            <div class="bookmark_box" class="btn_bookmark" id="check_bookmark">
                                                <!-- <span>북마크</span> -->
                                                <% let bookmarked = false; %>
                                                <% if (board.bookmarks && board.bookmarks.length > 0) { %>
                                                    <% for (let bookmark of board.bookmarks) { %>
                                                        <% if (bookmark.u_id === session.u_id) { %>
                                                            <% bookmarked = true; %>
                                                        <% } %>
                                                    <% } %>
                                                <% } %>
                                                
                                                <a href="javascript:bookmark('<%= board.b_id %>','<%= session.u_id %>')" id="bookmark">
                                                    <%= bookmarked ? '🌟' : '☆' %> 북마크
                                                </a>
                                                


                                            </div>
                                        </div>

                                        <div class="btn_wrap">
                                            <% if (board.u_id === session.u_id || session.permission === 'admin') { %>
                                                <a href="javascript:page_update('<%= board.b_id %>');" class="btn basic">수정</a>
                                                <a href="javascript:delete_board('<%= board.b_id %>','<%= board.content %>');" class="btn delete">삭제</a>
                                            <% } %>
                                            <a href="/board" class="btn basic">목록으로</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 본문 끝 -->
                                <!-- 댓글 시작 -->
                                <div class="comment_box">
                                    <!-- 댓글폼 호출 -->
                                    <form name="comment" class="cmt_form" onsubmit="comment_insert()">
                                        <input type="hidden" name="b_id" value="<%=board.b_id%>" />
                                        <input type="hidden" name="u_id" value="<%=session.u_id%>" />
                                        <input type="hidden" name="nk_name" value="<%=session.nk_name%>" />
                                        <select name="status" class="comment_select">
                                            <option value="public">공개</option>
                                            <option value="private">비공개</option>
                                        </select>
                                        <input type="text" name="comment_content" class="comment_content" placeholder="댓글을 입력하세요">
                                        <input type="button" class="btn" onclick="comment_insert()" value="댓글 작성">
                                    </form>
                                    <!-- 댓글 목록 -->
                                    <ul class="cmt_list">
                                        <!-- 원 댓글 시작 -->
                                        <% for(comment of board.comments) {%>
                                            <li id="cmt<%=comment.c_id%>_wrap" class="first_comment">
                                                <div class="cmt_top">
                                                    <div class="cmt_nm">
                                                        <span>
                                                            <% if(comment.user.profile_img){ %>
                                                                <img class="profile_img" src="/static/images/profile/'<%= comment.user.profile_img  %>'" alt="프로필">
                                                                <% }else{ %>
                                                                    <img class="profile_img" src="/static/images/logo.png" alt="프로필">
                                                                <% } %>
                                                            <%=comment.nk_name%>
                                                        </span>
                                                    </div>
                                                    <div class="cmt_time update<%=comment.c_id %>">
                                                        <span><%=comment.updatedAt.toLocaleString('ko-KR', { year: 'numeric' ,
                                                            month: '2-digit' , day: '2-digit' , hourCycle:'h24',
                                                            hour:'2-digit' })%></span>
                                                    </div>
                                                    <select id="cmt<%=comment.c_id%>_status" class="comment_select" style="display: none">
                                                        <option value="public">공개</option>
                                                        <option value="private">비공개</option>
                                                    </select>
                                                </div>
                                                
                                            <% if(comment.status==="PUBLIC" ||session.u_id===comment.u_id||session.permission==="admin"){ %>
                                                <div id="cmt<%=comment.c_id%>_content" class="cmt_content">
                                                    <%=comment.content%>
                                                </div>
                                                <% } else{%>
                                                    <div id="cmt<%=comment.c_id%>_content" class="cmt_content">
                                                        비공개 댓글입니다.
                                                    </div>
                                                    <% } %>
                                               
                                                <div class="cmt_bottom">
                                                    <% if (session.u_id===comment.u_id) {%>
                                                        <input type="button" class="btn" id="cmt_update_btn<%=comment.c_id%>"
                                                            onclick="change_comment('<%=comment.c_id%>')"
                                                            value="댓글 수정" />
                                                        <input type="button" id="cmt_delete_btn<%=comment.c_id%>" class="btn_remove btn"
                                                            onclick="comment_delete('<%=comment.c_id%>')"
                                                            value="댓글 삭제" />
                                                        <%}%>
                                                            <!-- 답글 시작 -->
                                                            <!-- 답글 폼 호출 -->
                                                            <input type="button" class="btn basic"
                                                                id="reply_btn<%=comment.c_id%>"
                                                                onclick="call_reply_form('<%=comment.c_id%>')"
                                                                value="답글 쓰기" />
                                                </div>
                                                <!-- 원 댓글 끝 -->
                                                <div class="cmt_reply">
                                                    <!-- 답글 폼 호출 -->
                                                    <form name="reply_form<%=comment.c_id%>" style="display: none" onsubmit="reply_insert('<%=comment.c_id%>')">
                                                        <input type="hidden" name="b_id" value="<%=board.b_id%>" />
                                                        <input type="hidden" name="u_id" value="<%=session.u_id%>" />
                                                        <input type="hidden" name="parent_id"
                                                            value="<%=comment.c_id%>" />
                                                        <input type="hidden" name="nk_name"
                                                            value="<%=session.nk_name%>" />
                                                        <select name="status" >
                                                            <option value="public">공개</option>
                                                            <option value="private">비공개</option>
                                                        </select>
                                                        <input type="text" name="reply_content" class="reply_content" placeholder="댓글을 입력하세요">

                                                        <input type="button" id="reply_insert_btn" class="btn"
                                                            onclick="reply_insert('<%=comment.c_id%>')" value="답글 작성" />
                                                    </form>
                                                    <!-- 답글 목록 -->
                                                    <ul>
                                                        <% if (comment.replies.length> 0) {%>
                                                            <% for (reply of comment.replies) {%>
                                                                <li class="reply">
                                                                    ↘
                                                                    <div class="reply_top">
                                                                        <input type="hidden"
                                                                            value="<%=reply.parent_id%>">
                                                                        <span>
                                                                            <% if(reply.user.profile_img){ %>
                                                                                <img class="profile_img" src="/static/images/profile/'<%= reply.user.profile_img  %>'" alt="프로필">
                                                                                <% }else{ %>
                                                                                    <img class="profile_img" src="/static/images/logo.png" alt="프로필">
                                                                                <% } %>
                                                                            <%=reply.nk_name %>
                                                                        </span>
                                                                        <span class="update<%=reply.c_id %>"><%=reply.updatedAt.toLocaleString('ko-KR', { year: 'numeric' ,
                                                                            month: '2-digit' , day: '2-digit' , hourCycle:'h24',
                                                                            hour:'2-digit' })%></span>
                                                                        <select id="cmt<%=reply.c_id%>_status"
                                                                            style="display:none">
                                                                            <option value="public">공개</option>
                                                                            <option value="private">비공개</option>
                                                                        </select>
                                                                    </div>
                                                                    <% if (reply.status === "PUBLIC" || session.u_id === reply.u_id||session.permission==="admin") { %>
                                                                        <div id="cmt<%=reply.c_id%>_content" class="reply_content">
                                                                            <%= reply.content %>
                                                                        </div>
                                                                    <% } else { %>
                                                                        <div id="cmt<%=reply.c_id%>_content" class="reply_content">
                                                                            비공개 댓글입니다.
                                                                        </div>
                                                                    <% } %>
                                                                    
                                                                    <div class="reply_btm">
                                                                        <% if (session.u_id===reply.u_id) {%>
                                                                            <input type="button"
                                                                                id="cmt_update_btn<%=reply.c_id%>" class="btn"
                                                                                onclick="change_comment('<%=reply.c_id%>')"
                                                                                value="댓글 수정" />
                                                                            <input type="button"
                                                                                id="cmt_delete_btn<%=reply.c_id%>" class="btn_remove btn"
                                                                                onclick="comment_delete('<%=reply.c_id%>')"
                                                                                value="댓글 삭제" />
                                                                            <%}%>
                                                                    </div>
                                                                </li>
                                                                <%}%>
                                                                    <%}%>
                                                    </ul>
                                                </div>
                                                <!-- 답글 끝 -->
                                            </li>
                                            <%}%>
                                    </ul>
                                </div>
                                <!-- 댓글 끝 -->
                            </div>
                        </main>
                    </div>
                </div>
                <script src="/static/js/board/board.js"></script>
    </body>

</html>