<!DOCTYPE html>
<html lang="ko">
<%- include('../include/include.ejs',{title:"커뮤니티"}) %>
    <link rel="stylesheet" href="/static/css/board.css">

    <body>
        <%- include('../include/header.ejs') %>
            <div class="container">
                <div class="sideLeft">ㅇㅇ</div>
                <div class="center">
                    <header>
                        <div class="title">커뮤니티</div>

                        <div class="sortPost">
                            <div class="sortCategory">
                                <div class="showAllCategory"><a href="/board">전체글</a></div>
                                <div class="showFreeCategory"><a href="/board?category=free">자유</a></div>
                                <div class="showStudyCategory"><a href="/board?category=study">공부</a></div>
                                <div class="showEmployCategory"><a href="/board?category=employ">취업정보</a></div>
                                <div class="showQualificationCategory"><a href="/board?category=qualification">자격증 &
                                        어학</a></div>
                            </div>
                            <select class="sortList" onchange="sort()">
                                <option value="latestDate">최근 등록 순</option>
                                <option value="like">좋아요 순</option>
                            </select>

                        </div>

                    </header>
                    <article>
                        <div class="boardHeader">
                            <div class="postNum">번호</div>
                            <div class="postTitle">제목</div>
                            <div class="postWriter">작성자</div>
                            <div class="postCreatedAt">작성일</div>
                            <div class="postLike">좋아요</div>
                        </div>
                        <div class="boardList">
                            <% for (let board of boardList) {%>
                                <div class="postInfo">
                                    <div class="postNum">
                                        <%= board.b_id%>
                                    </div>
                                    <a href="/board/board?b_id=<%=board.b_id%>" class="postTitle">
                                        <%= board.title%>
                                    </a>
                                    <div class="postWriter">
                                        <%= board.u_id%>
                                    </div>
                                    <div class="postCreatedAt">
                                        <%= board.createdAt.toLocaleString('ko-KR', { year: '2-digit' , month: '2-digit'
                                            , day: '2-digit' }) %>
                                    </div>
                                    <div class="postLike">
                                        <%= board.dataValues.like_count%>
                                    </div>
                                </div>
                                <%}%>
                        </div>
                        <div class="boardFooter">
                            <form action="search" method="get">
                                <select class="searchCategory">
                                    <option value="title">제목</option>
                                    <!-- <option value="writer">작성자</option> --> <!-- 검색 카테고리 추가되면 활성화 -->
                                </select>
                                <input type="text" class="searchKeyword" placeholder="검색어를 입력해주세요" />
                                <button type="button" class="btn searchBtn" onclick="search()">검색</button>
                            </form>
                            <button class="btn writePost" onclick="location.href='/board/post'">글 작성</button>
                            <div class="boardPage">
                                <% for (i=1; i <=totalPages; i++) { %>
                                    <div class="pageNumber"><a href="/board?page=<%= i %>&category=<%= category%>">
                                            <%= i %>
                                        </a></div>
                                    <% } %>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="sideRight">ㅇㅇ</div>
            </div>
            <script>
                // const { u_id, title } = res.query;
                const sortList = document.querySelector('.sortList');

                function sort() {
                    let selectedValue = sortList.value;
                    if (selectedValue === "latestDate") {
                        location.href = `/board?category=<%= category%>&sort=`
                    } else if (selectedValue === "like") {
                        location.href = `/board?category=<%= category%>&sort=like`
                    }
                }

                function search() {
                    const keyword = document.querySelector('.searchKeyword').value;
                    location.href = `/board?category=<%= category%>&search=${keyword}`;
                    // const category = document.querySelector('.searchCategory').value; // 검색 카테고리도 같이 추가되면 활성화
                    // location.href = `/board?category=${category}&search=${keyword}`; // 검색 카테고리도 같이 추가 되면 활성화
                }
            </script>
    </body>

</html>